cy41mo: o22
com3syx: qx4-1
Z1sy1s38: yz3syxkv
Wksx3ksxo1: Occ Nolskx Wksx3ksxo12 <o22-nolskx@1-z1ytom3.y1q>
ezvykno12: Ns1u Onnovl4o33ov <onn@nolskx.y1q>
c3kxnk1n2-fo12syx: D.J.B
L4svn-Nozoxn2: nolrovzo1 (>= H.A.A)
L4svn-Nozoxn2-Sxnoz: 3o7vs5o-lk2o, 3o7vs5o-vk3o7-lk2o, 3o7vs5o-vk3o7-1omywwoxnon, 3o7vs5o-vk3o7-o731k, 3o7vs5o-qoxo1sm-1omywwoxnon, 3o7vs5o-o731k-43sv2, 3o7sxpy, 3o7sCr3wv
Rywozkqo: r33z://o22.1-z1ytom3.y1q

Zkmukqo: o22
K1mrs3om341o: kvv
Nozoxn2: ${ws2m:Nozoxn2}, owkm2CD | owkm2CC | owkm2CB | owkm2ox, nzuq (>= B.BF.E) | sx23kvv-sxpy
Myxpvsm32: nrovz (<= A.D.BC)
c4qqo232: 7vs2z23k3, 1-lk2o | 1-lk2o-my1o, z2zz
No2m1sz3syx: Owkm2 wyno py1 23k3s23smkv z1yq1kwwsxq kxn nk3k kxkv82s2
 Occ ("Owkm2 czoku2 c3k3s23sm2") s2 k QXe Owkm2 kxn hOwkm2 wyno py1 
 sx3o1km3s5o 23k3s23smkv z1yq1kwwsxq kxn nk3k kxkv82s2. Vkxq4kqo2 
 24zzy13on k1o 3ro c pkwsv8 (c D/E, c-ZVec D/E/F/G/H, kxn b), cKc, 
 hVs2zc3k3, c3k3k, kxn LeQc.
 .
 Occ q1o6 y43 yp 3ro no2s1o py1 l4q ps7o2 kxn o73ox2syx2 3y c-wyno kxn
 cKc-wyno k2 6ovv k2 k myx2s23ox3 4xsyx yp 3ros1 pok341o2 sx yxo
 zkmukqo.
