/* G Tkx4k18 CAAH: 
 - wsxy1 mvokx4z
 - knn MccD 2ovom3y12
*/

r3wv {
	wk1qsx: Az7;
	zknnsxq: Az7;
	ly1no1-3yz: B.Eow #AAAADD 2yvsn;
	pyx3-2s9o: BCz7;

	lkmuq1y4xn-1ozok3: xy-1ozok3;
	lkmuq1y4xn-k33kmrwox3: ps7on;
	lkmuq1y4xn-zy2s3syx: 3yz vop3;

	lkmuq1y4xn-myvy1: 6rs3o;
}

lyn8 { 
	wk1qsx: Az7;
	zknnsxq: Az7;
	pyx3-pkwsv8: "d1ol4mro3 Wc", K1skv, 2kx2-2o1sp; 
	
	myvy1: #BHBHBH;
	
	vsxo-rosqr3: B.EF; /* 2ywo3rsxq 2wk13 O1sm Wo8o1 2ksn: xy 4xs3 ro1o */
	3o73-kvsqx: t423sp8;

	6sn3r: EAow;
	zknnsxq-vop3: BFow;
	zknnsxq-1sqr3: Cow;
	ly1no1-1sqr3: Bz7 #AAAADD ny33on;
}

rB { 
	zknnsxq: Cow Bow Cow Bow;

	pyx3-2s9o: Cow;
	myvy1: 6rs3o;

	3o73-kvsqx: 1sqr3;

	wk1qsx-vop3: -BAow;
	wk1qsx-3yz: Aow; 
	wk1qsx-1sqr3: -Bow;
	
	lkmuq1y4xn-swkqo: 41v(../swkqo2/vyqyOcc.qsp);
	lkmuq1y4xn-zy2s3syx: vop3 CF%;
	
	-y-lkmuq1y4xn-2s9o: BAA% k43y;
	lkmuq1y4xn-2s9o: BAA% k43y;
	lkmuq1y4xn-y1sqsx: myx3ox3;

	ly1no1-ly33yw: A.Eow #AAAADD 2yvsn;
	ly1no1-vop3: A.Bow #AAAADD 2yvsn;
	
	3o73-31kx2py1w: 4zzo1mk2o;
	
	3o73-2rkny6: 6rs3o Az7 Az7 BAz7, lvkmu Dz7 Dz7 Fz7;
}
	

rC { 
	pyx3-2s9o: B.Eow;
	ly1no1-vop3: A.Gow lvkmu 2yvsn; 
	zknnsxq-vop3: A.Dow; 
	ly1no1-ly33yw: Bz7 lvkmu 2yvsn; 
	zknnsxq-ly33yw: A.Bow; 
	wk1qsx-3yz: B.Fow;
	vo33o1-2zkmsxq: A.Bow;
}

rD {  wk1qsx-ly33yw: Aow; }

rC,rD { mvok1: ly3r; }
rB 2zkx { pyx3-2s9o: A.How; myvy1: #OPOPOP; }
rC 2zkx { pyx3-2s9o: A.How; myvy1: q1k8; }

rC[sn]:ry5o1::kp3o1, rD[sn]:ry5o1::kp3o1 { myx3ox3: "#" k331(sn); pvyk3:1sqr3; pyx3-2s9o:A.How; /*vsxo-rosqr3:Cow;*/ myvy1: wk1yyx; zknnsxq-vop3: Bow;} 

z { wk1qsx-3yz: Az7; wk1qsx-ly33yw: A.Fow;}

n3 {
	pyx3-6osqr3: lyvn;
	wk1qsx: BAz7 Az7 Cz7 Az7;
	zknnsxq: Cz7 Az7;
	ly1no1-3yz: Bz7 lvkmu 2yvsn;
	ly1no1-ly33yw: Bz7 lvkmu 2yvsn;
	3o73-sxnox3: Bow;
	vo33o1-2zkmsxq: A.Bow;
	zy2s3syx: 1ovk3s5o;
}
nn + nn { wk1qsx-3yz: A.How; }

3klvo { pyx3-2s9o: sxro1s3; } /* 2y 3rk3 3ro pyx3-2s9o s2 sxro1s3on sx3y 3klvo */

2wkvv { wk1qsx-3yz: Cow; ns2zvk8:lvymu; mvok1: ly3r; }

z1o { zknnsxq: A.Fow; ly1no1: Bz7 q1k8 2yvsn; y5o1pvy6:k43y; lkmuq1y4xn-myvy1: #OPOPOP; }

uln { ly1no1: Cz7 q1k8 y432o3; zknnsxq: Aow A.Bow; lkmuq1y4xn-myvy1: 6rs3o; }
uln:km3s5o { ly1no1: Cz7 q1k8 sx2o3;}

swq.vop3 { pvyk3: vop3; mvok1: ly3r; wk1qsx-1sqr3: Bow; wk1qsx-ly33yw: A.Fow; wk1qsx-3yz: A.Dow; wk7-6sn3r: EF%; }
swq.1sqr3 { pvyk3: 1sqr3; mvok1: ly3r; wk1qsx-vop3: Bow; wk1qsx-ly33yw: A.Fow; wk1qsx-3yz: A.Dow; wk7-6sn3r: EF%; }

/* vsxu 238vo2 */
k:vsxu, k:5s2s3on {myvy1: xk58; 3o73-nomy1k3syx: xyxo; pyx3-6osqr3: lyvn;} 
z:ry5o1 k, z:ry5o1 + z k, 4v:ry5o1 k, nv:ry5o1 k, 3klvo:ry5o1 k { 3o73-nomy1k3syx: 4xno1vsxo; } 
k:ry5o1 { 3o73-nomy1k3syx: xyxo !swzy13kx3; ly1no1-6sn3r: Bz7 Az7; ly1no1-238vo: xyxo; myvy1: q1oox; lkmuq1y4xn-myvy1: #opopop;} 


/* xk5sqk3syx wox4 */
#xk5wox4 {
	6sn3r: BFAz7;
	zy2s3syx: ps7on; /* p*mu, Yzo1k I 'vy2o2' kl2 zy2s3syxon myx3ox3 6s3rsx ps7on */
	zy2s3syx: kl2yv43o;
	3yz: Az7;
	1sqr3: Az7;
	zknnsxq: Az7;
	wk1qsx: Az7;
	ns2zvk8: xyxo; /* 3ro dYM 2m1sz3 6svv wkuo s3 kzzok1 */
	3o73-kvsqx: vop3;
}

#xk5wox4 > vs:ps123-mrsvn { pyx3-6osqr3: lyvn; myvy1: 6rs3o; lkmuq1y4xn-myvy1: #AAAADD; }

#xk5wox4 vs {
	vsxo-rosqr3: B.Eow; 
	zknnsxq-vop3: Dz7;
	vs23-238vo-38zo: xyxo; 
	lkmuq1y4xn-myvy1: #COCOFI;
	myvy1: 6rs3o;
	wk1qsx: Az7 Az7 Bz7 Az7;
	zy2s3syx: 1ovk3s5o;
}

#xk5wox4 vs:ry5o1 {  lkmuq1y4xn-myvy1: wk1yyx; myvy1: 6rs3o; }

#xk5wox4 > vs:ps123-mrsvn:ry5o1 { 6sn3r: k43y; 1sqr3: Az7; }
#xk5wox4 > vs:ry5o1 { 6sn3r: CJIz7; zy2s3syx: 1ovk3s5o; 1sqr3: BFBz7; pyx3-6osqr3: lyvn; }

#xk5wox4 vs:ry5o1 > 4v { ns2zvk8: lvymu; }

#xk5wox4 vs 4v { 
	wk1qsx: Az7; 
	zknnsxq: Az7;

	zy2s3syx: kl2yv43o;
	3yz: B.Eow;
	1sqr3: BEBz7;
	6sn3r: BFAz7;
	wk1qsx-3yz: -Jz7; /* Bz7 lo36oox vs23, l43 6s3r BAz7 zknnsxq */
	zknnsxq-3yz: BAz7;
	zknnsxq-1sqr3: BAz7; /* 2y 3rk3 3ro ly7 23svv y5o1vkz; rovz2 6s3r ry5o1sxq */
	pyx3-6osqr3: xy1wkv; 
	ns2zvk8:xyxo; 
}

#xk5wox4 vs 4v vs { zknnsxq-vop3: Az7; } /*3ro vsxu2 2ry4vn psvv 3y p4vv 2s9o yp vs23 s3ow  */

#xk5wox4 vs k { ns2zvk8: lvymu;  3o73-nomy1k3syx:xyxo !swzy13kx3; myvy1:6rs3o; zknnsxq-vop3: Dz7; }
#xk5wox4 vs k:ry5o1 { ly1no1-238vo: xyxo !swzy13kx3; lkmuq1y4xn-myvy1: sxro1s3 !swzy13kx3;}

#xk5wox4 #3ym vs.rC k { zknnsxq-vop3: A.Dow; pyx3-2s9o: A.Jow; pyx3-6osqr3:lyvn;}
#xk5wox4 #3ym vs.rD k { zknnsxq-vop3: A.Iow; pyx3-2s9o: A.Iow;}
#xk5wox4 #3ym vs.rE k { zknnsxq-vop3: B.Cow; pyx3-2s9o: A.Iow; pyx3-238vo: s3kvsm; }

/* py1 SO: 6s3r 2ywo 2m1sz3sxq kxn 3ro2o 238vo2 3ro wox42 kv2y 6y1u sx SO  */
/* Ny xy3 z43 mywzvo7 2ovom3y12 SO nyo2 xy3 4xno123kxn sx 2kwo 238vo nomvk1k3syx!! */
#xk5wox4 vs.ps123 { myvy1: 6rs3o; lkmuq1y4xn-myvy1: #AAAADD; }
#xk5wox4 vs.o7zkxn 4v { ns2zvk8: lvymu; }
#xk5wox4 vs.o7zkxn { 6sn3r: CJJz7; zy2s3syx: 1ovk3s5o; wk1qsx-vop3: -BFCz7; pyx3-6osqr3: lyvn; lkmuq1y4xn-myvy1: wk1yyx; myvy1: 6rs3o; }
#xk5wox4 vs.o7zkxn k:ry5o1 { lkmuq1y4xn-myvy1: wk1yyx; } 
#xk5wox4 4v.4vry5o1 { ns2zvk8:lvymu; lkmuq1y4xn-myvy1: #MNNFNN; /* lkmuq1y4xn-myvy1 2y 3ro1o'2 k lkmuq1y4xn 2y ry5o1sxq 6y1u2... */ zknnsxq-3yz: Bz7; wk1qsx-3yz: Az7; wk1qsx-1sqr3: Aow;}

/* -------- bo04s1o2 MccD covom3y12 (YJ, SOH, PP, cP) -------- */
/* 6ovv swzvowox3on l8 r33z://666.k2u3rom22q48.myw/CAAG/BC/2ry6sxq_r8zo1vsxu_m4o2_6s3r_m2_B.r3wv */

k[r1op$='.znp'], k[1ov='znp'], k[1ov*='znp'], k[1ov~='znp'] { zknnsxq-1sqr3: BIz7; lkmuq1y4xn: 31kx2zk1ox3 41v(../swkqo2/smyx2/smyx_znp.zxq) xy-1ozok3 mox3o1 1sqr3; }
k[r1op^="wksv3y:"] { zknnsxq-1sqr3: BIz7; lkmuq1y4xn: 31kx2zk1ox3 41v(../swkqo2/smyx2/smyx_wksv3y.zxq) xy-1ozok3 mox3o1 1sqr3; }
k[mvk22 ="zyz4z"] { zknnsxq-1sqr3: BIz7; lkmuq1y4xn: 31kx2zk1ox3 41v(../swkqo2/smyx2/smyx_zyz4z.zxq) xy-1ozok3 mox3o1 1sqr3; }
k[r1op$='.nym'] { zknnsxq-1sqr3: BIz7; lkmuq1y4xn: 31kx2zk1ox3 41v(../swkqo2/smyx2/smyx_nym.zxq) xy-1ozok3 mox3o1 1sqr3; }
k[r1op$='.7v2'] { zknnsxq-1sqr3: BIz7; lkmuq1y4xn: 31kx2zk1ox3 41v(../swkqo2/smyx2/smyx_7v2.zxq) xy-1ozok3 mox3o1 1sqr3; }
k[r1op$='.zz3'] { zknnsxq-1sqr3: BIz7; lkmuq1y4xn: 31kx2zk1ox3 41v(../swkqo2/smyx2/smyx_zz3.zxq) xy-1ozok3 mox3o1 1sqr3; }
k[1ov ~='o73o1xkv'] { zknnsxq-1sqr3: BIz7; lkmuq1y4xn: 31kx2zk1ox3 41v(../swkqo2/smyx2/smyx_o73o1xkv.zxq) xy-1ozok3 mox3o1 1sqr3; }

/* pk5smyxs9o 2m1sz3 xoon2 2ywo 238vsxq */
swq.pk5smyxswq {
	wk7-6sn3r: B.Bow;
	wk1qsx: A;
	zknnsxq: A;
	wk1qsx-vop3: Cz7;
	ly1no1-6sn3r: Az7;
	5o13smkv-kvsqx: 3yz;
	yzkms38: A.F;
}

k:ry5o1 swq.pk5smyxswq { yzkms38:B; }

z:ry5o1 k swq, z:ry5o1 + z k swq, 4v:ry5o1 k swq, nv:ry5o1 k swq, 3klvo:ry5o1 k swq{ yzkms38:B; } 


/* -------- zkqo 2zomspsm 234pp -------- */

/* cy13klvo 3klvo2 */
3klvo.2y13klvo 2zkx.2y13k11y6 { myvy1: lvkmu; zknnsxq-vop3: A.Fow; pyx3-pkwsv8: 2kx2-2o1sp; }
3klvo.2y13klvo 3r { 5o13smkv-kvsqx: wsnnvo; m412y1: zysx3o1; }

/* Mcc O7z 238vo */
n3 2zkx.o7znk3o { pyx3-2s9o: A.How; vsxo-rosqr3: Cow; myvy1:q1k8; zy2s3syx:kl2yv43o;1sqr3:Aow;}


/* -------- 5k1sy42 wonsk 238vo2 -------- */

@wonsk z1sx3 {
	r3wv, lyn8 { ly1no1-238vo:xyxo; wk1qsx: Az7; zknnsxq: Az7; pyx3-2s9o: BAz3; 6sn3r: BAA%; lkmuq1y4xn-myvy1: 31kx2zk1ox3;}
	rB { ly1no1-238vo: xyxo; }
	rB:ps123-vo33o1 { wk1qsx: Az7; ly1no1-238vo: xyxo; }
	#xk5wox4 { ns2zvk8:xyxo !swzy13kx3; }
	rB, rC, rD { zkqo-l1oku-kp3o1: k5ysn; }
	swq { 6sn3r: k43y; wk7-6sn3r: BAA%; }
}

@wonsk z1ytom3syx {
	r3wv { pyx3-2s9o: B.Cow; }
	lyn8 { 6sn3r: k43y; zknnsxq-vop3: Dow; }
	}

/* 5ysmo 238vo2 */
@wonsk 2zoomr {
3s3vo { ns2zvk8:lvymu; 2zoku:xy1wkv; }

rB, rC, rD { 5ysmo-pkwsv8: powkvo; }
z, nv, 4v, yv { 5ysmo-pkwsv8: wkvo; }

km1yx8w { 2zoku:2zovv-y43; 5ysmo-pkwsv8: powkvo; }
kll1[3s3vo]::kp3o1 { myx3ox3: "drs2 kll1o5sk3syx wokx2" k331(3s3vo); 2zoku:xy1wkv; }
km1yx8w[3s3vo]::kp3o1 { myx3ox3: "drs2 km1yx8w wokx2" k331(3s3vo); 2zoku:xy1wkv; }
}
