"\o[B~": loqsxxsxq-yp-vsxo
"\o[E~": oxn-yp-vsxo

"\o[F~": loqsxxsxq-yp-rs23y18
"\o[G~": oxn-yp-rs23y18

"\o[D~": novo3o-mrk1
"^?" : novo3o-mrk1

"[D~": usvv-6y1n

"\o[C~": 04y3on-sx2o13

# kv3 + pvomro2 n/q
"\o[B;DM": py16k1n-6y1n
"\o[B;DN": lkmu6k1n-6y1n

# m3v + pvomro2 n/q
"\o[B;FM": py16k1n-6y1n
"\o[B;FN": lkmu6k1n-6y1n


# 43svo2 ?

#W-b4ly43: lkmu6k1n-usvv-6y1n

#"\o\o[M": py16k1n-6y1n
#"\o\o[N": lkmu6k1n-6y1n

#"\o[J~": z1o5sy42-rs23y18
#"\o[CJ~": z1o5sy42-rs23y18

#"\M-r" : novo3o-mrk1
#"\M-?" : novo3o-mrk1

2o3 lovv-238vo xyxo
